<form method='POST' action='/entities'>
    Name: <input type="text" name="entity[name]" id="entity_name">
    <p>Types:</p>
    <p>Borrower: <input type="checkbox" name="entity[entity_type]" value="Borrower" id="entity_type"></p>
    Structure: <input type="text" name="entity[structure]" id="entity_structure">
    <input type='submit' value="Create Entity">
</form>
