<% if !!@loan %>
<form method='POST' action='/loans'>
    Name: <input type="text" name="loan[name]" value='<%=@loan.name%>' id="loan_name">
    Number: <input type="text" name="loan[number]" value='<%=@loan.number%>' id="loan_num">
    Amount: <input type="text" name="loan[amount]" value='<%=@loan.amount%>' id="loan_amt">
    <input type='submit' value="Create Loan">
</form>
<%else%>
<form method='POST' action='/loans'>
    Name: <input type="text" name="loan[name]" id="loan_name">
    Number: <input type="text" name="loan[number]" id="loan_num">
    Amount: <input type="text" name="loan[amount]" id="loan_amt">
    <input type='submit' value="Create Loan">
</form>
<%end%>
