Sign Up to get started
<form method='POST' action='/signup'>
    Username: <input type='text' name='username' id='username'>
    Password: <input type='text' name='password' id='password'>
    <input type='submit' value='Create Account'>
</form>
